<h1>Welcome your To-DO list!</h1>

<p>Here are all of your tasks:</p>

<ul>
  <% @tasks.not_done().each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>

<% @tasks.each() do |task| %>
    <li><%= task.description %><a href="/tasks/<%= task.id() %>/edit">Update this task's description</a></li>
  <% end %>

<div class="container">
  <a href= "/lists">View All Lists</a>
  <a href= "/lists/new">Add New List</a>
</div>
