<h1> To Do List </h1>

<h1> Your current lists: <h1>
  <ul>
    <% @list.each do |l| %>
    <a href="list/<%= l.id() %>"><li><%= l.name %></li></a>
    <% end %>
  </ul>


<a href="/list/new">Add New List</a>
<br>
<a href="/lists/show">View All Lists</a>
