<h1>Add a list</h1>
<div class="form-control">
<form method="post" action="/lists">
    <label for="name">Enter list name:</label>
    <input name="name" type="text" id="name">

    <button type="submit">Add!</button>
  </form>
</div>
